.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameContainer {
  width: 95%;
  height: 95%;
  border: 1px solid #770777;
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #111111;
  border: 3px double white;
}

.numberContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 40%;
  width: 170px;
  border-right: 3px double white;
  border-bottom: 3px double white;
}

.clickerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 59%;
  width: 170px;
  border-right: 3px double white;
  border-top: 3px double white;
}

.powerPlay {
  font-family: 'Trade Winds', cursive;
  height: 50px;
  color: #BB2222;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reset{
  background-color: #111111;
  color: #FFFFFF;
  box-shadow: none;
  border: 0px;
  padding: 2px;
  border-radius: 4px;
  font-family: 'Kaushan Script', cursive;
  font-size: 12pt;
  height: 40px;
  width: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reset:hover{
  background-color: #222222;
  cursor: pointer;
}

.visibleReset{
  display: flex;
  position: relative;
  z-index: 1;
  color: white;
  background: #111111;
  border: 1px dashed white;
  width: 200px;
}

.producerContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.redProducerContainer {
  flex-basis: 30%;
}

.producerButton {
  width: 300px;
  height: 80px;
  background-color: #BB2222;
  color: white;
  border: 8px solid #111111;
  border-radius: 4px;
}

.producerButton:hover {
  background-color: #EE2222;
  cursor: crosshair;
}

.errors {
  color: #FFFFFF;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12pt;
}

.clickableContainer{
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50%;
}

.clickBox{
  flex-basis: 70%;
  margin: 10px;
  margin-right: 20px;
}

.attack {
  flex-basis: 30%;
  border-radius: 50%;
  background-color: #BB2222;
  border: 3px double #333333;
  height: 125px;
  color: #FFFFFF;
  font-family: 'Trade Winds', cursive;
  font-size: 12px;
  padding: 1em;
}

.attackCanv:hover{
  cursor: crosshair;
}


.eventContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 100%;
}

.eventBox {
  flex-basis: 50%;
  margin: 10px;
}

.buttonText {
  color: #FFFFFF;
  font-size: 9pt;
  font-family: 'Trade Winds', cursive;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.eventText {
  color: #FFFFFF;
  font-size: 24pt;
  font-family: 'Spirax', cursive;
  flex-basis: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redText {
  font-size: 16pt;
  font-family: 'Trade Winds', cursive;
  margin-right: 10px;
  color: #BB2222;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueText {
  color: #FFFFFF;
  font-size: 16pt;
  font-family: 'Spirax', cursive;
  margin-right: 10px;
  color: #2222BB;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenText {
  color: #FFFFFF;
  font-size: 16pt;
  margin-right: 10px;
  background-color: FFFFF;
  color: #22BB22;
  font-family: 'Kaushan Script', cursive;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redText:hover{
  background-color: #333333;
  cursor: crosshair;
}

.blueText:hover{
  background-color: #333333;
  cursor: cell;
}

.greenText:hover{
  background-color: #333333;
  cursor: vertical-text;
}

.blueButtonText{
  color: white;
  font-family: 'Spirax', cursive;
  font-size: 10pt;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueProducerContainer{
  flex-basis: 30%;
}

.moneyTalks{
  font-family: 'Spirax', cursive;
  height: 50px;
  color: #2222BB;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ka-ching{
  width: 125px;
  border-radius: 50%;
  background-color: #2222BB;
  border: 3px double #333333;
  height: 125px;
  color: #FFFFFF;
  font-family: 'Spirax', cursive;
  font-size: 12pt;
  padding: 1em;
}

.cashCanv{
  cursor: cell;
}

.blueProducerButton{
  width: 300px;
  height: 80px;
  background-color: #2222BB;
  color: white;
  border: 8px solid #111111;
  border-radius: 4px;
}

.ka-ching:hover{
  background-color: #4444CC;
  cursor: cell;
}

.blueProducerButton:hover{
  background-color: #4444CC;
  cursor: cell;
}

.hidden{
  display: none;
}

.visibleBlue{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #4444CC;
  border: 1px dashed white;
}

.visibleBlueStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #4444CC;
  border: 1px dashed white;
  left: -20px;
  bottom: 40px;
}

.blueStatToolText{
  font-family: 'Spirax', cursive;
  font-size: 10pt;
  color: white;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.visibleRed{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #CC4444;
  border: 1px dashed white;
}

.visibleRedStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #CC4444;
  border: 1px dashed white;
  left: -20px;
  bottom: 40px;
}

.redStatToolText{
  font-size: 10pt;
  color: white;
  font-family: 'Trade Winds', cursive;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visibleGreen{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #44CC44;
  border: 1px dashed white;
}

.visibleGreenStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #44CC44;
  border: 1px dashed white;
  left: -20px;
  bottom: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenStatToolText{
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  color: white;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueToolText{
  font-family: 'Spirax', cursive;
  font-size: 12pt;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redToolText{
  font-family: 'Trade Winds', cursive;
  font-size: 12pt;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenToolText{
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friendshipMagic{
  font-family: 'Kaushan Script', cursive;
  height: 50px;
  color: #22BB22;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenProducerContainer{
  flex-basis: 30%;
}

.greenProducerButton{
  width: 300px;
  height: 80px;
  background-color: #22BB22;
  color: white;
  border: 8px solid #111111;
  border-radius: 4px;
}

.greenProducerButton:hover{
  background-color: #44BB44;
  cursor: vertical-text;
}

.greenButtonText{
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 9pt;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.magic{
  width: 125px;
  border-radius: 50%;
  background-color: #22BB22;
  border: 3px double #333333;
  height: 125px;
  color: #FFFFFF;
  font-family: 'Spirax', cursive;
  font-size: 12pt;
  padding: 1em;
}

.magic:hover{
  background-color: #44BB44;
  cursor: vertical-text;
}

.buddyCanv{
  cursor: vertical-text;
}

.main{
  background: linear-gradient(to bottom right, #6600cc 0%, #00ff00 100%)
}

.logo{
  border: 5px double #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}