.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameContainer {
  width: 95%;
  height: 95%;
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #010101;
  border: 5px double #321039;
}

.objectContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.numberContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 250px;
  border-right: 3px double #321039;
  border-bottom: 3px double #321039;
}

.clickerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 625px;
  border-right: 3px double #321039;
  border-top: 3px double #321039;
}

.powerPlay {
  font-family: 'Trade Winds', cursive;
  height: 30px;
  color: #8C2E15;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reset{
  background-color: #010101;
  color: #D5C3C0;
  box-shadow: none;
  border: 0px;
  padding: 2px;
  border-radius: 4px;
  font-family: 'Kaushan Script', cursive;
  font-size: 12pt;
  height: 40px;
  width: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reset:hover{
  background-color: #060606;
  cursor: pointer;
}

.visibleReset{
  display: flex;
  position: relative;
  z-index: 1;
  color: #D5C3C0;
  background: #111111;
  border: 1px dashed #D5C3C0;
  width: 200px;
}

.producerContainer{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  flex-basis: 65%;
}

.redProducerContainer {
  flex-basis: 10%;
}

.producerButton {
  width: 250px;
  height: 80px;
  background-color: #8C2E15;
  color: #D5C3C0;
  border: 8px solid #010101;
  border-radius: 4px;
}

.producerButton:hover {
  background-color: #EE2222;
  cursor: crosshair;
}

.errors {
  color: #D5C3C0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12pt;
}

.clickableContainer{
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50%;
}

.clickBox{
  flex-basis: 70%;
  margin: 10px;
  margin-right: 20px;
}


.attackCanv:hover{
  cursor: crosshair;
}


.eventContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 20%;
}

.eventBox {
  flex-basis: 100%;
  margin: 10px;
}

.buttonText {
  color: #D5C3C0;
  font-size: 9pt;
  font-family: 'Trade Winds', cursive;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.eventText {
  color: #D5C3C0;
  font-size: 24pt;
  font-family: 'Spirax', cursive;
  flex-basis: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redText {
  font-size: 16pt;
  font-family: 'Trade Winds', cursive;
  margin-right: 10px;
  color: #8C2E15;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #010101;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueText {
font-size: 16pt;
  font-family: 'Spirax', cursive;
  margin-right: 10px;
  color: #420039;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #010101;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenText {
  font-size: 16pt;
  margin-right: 10px;
  background-color: FFFFF;
  color: #0B2545;
  font-family: 'Kaushan Script', cursive;
  flex-basis: 25%;
  box-shadow: 0;
  border: 0;
  background-color: #010101;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redText:hover{
  background-color: #221111;
  cursor: crosshair;
}

.blueText:hover{
  background-color: #111122;
  cursor: cell;
}

.greenText:hover{
  background-color: #112211;
  cursor: vertical-text;
}

.blueButtonText{
  color: #D5C3C0;
  font-family: 'Spirax', cursive;
  font-size: 10pt;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueProducerContainer{
  flex-basis: 10%;
}

.moneyTalks{
  font-family: 'Spirax', cursive;
  height: 30px;
  color: #7D0037;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cashCanv{
  cursor: cell;
}

.blueProducerButton{
  width: 250px;
  height: 80px;
  background-color: #420039;
  border: 8px solid #010101;
  border-radius: 4px;
}

.ka-ching:hover{
  background-color: #420039;
  cursor: cell;
}

.blueProducerButton:hover{
  background-color: #64225A;
  cursor: cell;
}

.hidden{
  display: none;
}

.visibleBlue{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #64225A;
  border: 1px dashed #D5C3C0;
}

.visibleBlueStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #64225A;
  border: 1px dashed #D5C3C0;
  left: -20px;
  bottom: 40px;
}

.blueStatToolText{
  font-family: 'Spirax', cursive;
  font-size: 10pt;
  color: #D5C3C0;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.visibleRed{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #AE4F37;
  border: 1px dashed #D5C3C0;
}

.visibleRedStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #AE4F37;
  border: 1px dashed #D5C3C0;
  left: -20px;
  bottom: 60px;
}

.redStatToolText{
  font-size: 10pt;
  color: #D5C3C0;
  font-family: 'Trade Winds', cursive;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visibleGreen{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  bottom: 65px;
  background-color: #2D4767;
  border: 1px dashed #D5C3C0;
}

.visibleGreenStat{
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 1;
  background-color: #2D4767;
  border: 1px dashed #D5C3C0;
  left: -20px;
  bottom: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenStatToolText{
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  color: #D5C3C0;
  margin: 0 auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueToolText{
  font-family: 'Spirax', cursive;
  font-size: 12pt;
  color: #D5C3C0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.redToolText{
  font-family: 'Trade Winds', cursive;
  font-size: 12pt;
  color: #D5C3C0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenToolText{
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  color: #D5C3C0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friendshipMagic{
  font-family: 'Kaushan Script', cursive;
  height: 30px;
  color: #123524;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greenProducerContainer{
  flex-basis: 10%;
}

.greenProducerButton{
  width: 250px;
  height: 80px;
  background-color: #0B2545;
  color: #D5C3C0;
  border: 8px solid #010101;
  border-radius: 4px;
}

.greenProducerButton:hover{
  background-color: #2D2567;
  cursor: vertical-text;
}

.greenButtonText{
  color: #D5C3C0;
  font-family: 'Kaushan Script', cursive;
  font-size: 9pt;
  margin: 0 auto;
  margin-left: 10px;
  padding-top: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.magic{
  width: 125px;
  border-radius: 50%;
  background-color: #0B2545;
  border: 3px double #333333;
  height: 125px;
  color: #D5C3C0;
  font-family: 'Spirax', cursive;
  font-size: 12pt;
  padding: 1em;
}

.magic:hover{
  background-color: #2D2567;
  cursor: vertical-text;
}

.buddyCanv{
  cursor: vertical-text;
}

.main{
  background: linear-gradient(to bottom right, #8C2E15 0%, #321039 100%);
  background-repeat: none;
  height: 950px;
}


.logo{
  border: 5px double #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}